body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea {
	margin: 0;
	padding: 0;
}
ul,ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000000;
}
img {
	border: 0;
}
html {
	width: 100%;
}
body {
	width: 100%;
	font-family: "微软雅黑";
}
#body_top_btn{
	width: 55px;
	height: 55px;
	background-color: #000000;
	background-image: url(../img/top.png);
	border-radius: 50%;
	position: fixed;
	right: 0;
	bottom: 10px;
	z-index: 10;
}
.section{
	width: 100%;
	height: 768px;
	background: url(../img/diorbg.jpg) no-repeat top center;
	display: flex;
	justify-content: center;
}
.section_main{
	width: 980px;
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}
.section_goods{
	width: 690px;
	height: 547px;
	min-height: 547px;
	box-shadow: 0 0 30px 0 #cfcfd0;
	background-color: white;
}
.goods_main{
	width: 100%;
	height: 100%;
	padding: 30px 0;
	text-align: center;
	color: #636363;
	position: relative;
}
.goodsmain_tit h1{
	font-size: 24px;
	padding-bottom: 30px;
}
.goodsmain_tit p{
	line-height: 24px;
}
.goods_cart{
	padding: 30px;
	width: 629px;
	position: absolute;
	top: 0;
	background-color: white;
	display: none;
}
.goods_cart_tit>ul{
	display: flex;
	position: relative;
	justify-content: space-around;
	font-size: 18px;
	color: #636363;
	border-bottom: 1px solid #CDCDCD;
}
.goods_cart_tit>ul>li{
	padding: 0 76px 20px;
	
}
.goods_cart_tit .goods_cart_tit_choose{
	position: relative;
	color: #000000;
	font-weight: 900;
}
.goods_cart_tit .goods_cart_tit_choose::after{
	content: '';
	position: absolute;
	top: 42px;
	left: 0;
	right: 0;
	height: 2px;
	background: #000;
}
.goods_cart_tit>h2{
	margin: 30px 0;
	background: #000000;
	color: #FFFFFF;
	font-size: 15px;
	padding: 10px 14px;
	margin-bottom: 30px;
	border-radius: 5px;
	text-align: left;
	font-weight: 100;
}
/* .goods_cart_tit li::after{
	content: '';
	position: absolute;
	top: 36px;
	left: 0;
	right: 0;
	height: 2px;
	background: #000;
} */

/* 交互区 */
.checkall{
	display: flex;
	align-items: center;
	margin: 0 0 10px;
}
.checkallicon{
	display: block;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	width: 16px;
	height: 16px;
	margin-right:5px;
	background: url(../img/checkedBtn.png) no-repeat 0 0;
}
.tr_row>li{
	padding: 10px;
}
.tr_row span{
	display: block;
	color: #000000;
}
.tr_row{
	width: 629px;
	text-align: left;
	font-size: 12px;
	color: black;
	color: #757575;
	border-top: 1px solid #CFCFD0;
	border-bottom: 1px solid #CFCFD0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.goodsTitle{
	width: 160px;
}
.goodsImg{
	width: 92px;
	height: 100px;
}
.goods_name{
	color: #000000;
	font-weight: 900;
}
.goods_type{
	line-height: 28px;
}
.goods_btn{
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 50%;
}
.goods_nums{
	display: block;
	margin: 0 10px; 
}
.goodsbtn{
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #000000;
}
.goods_price{
	width: 117px;
	text-align: right;
}
.goods_del{
	background-color: transparent;
	border: 0;
	font-size: 24px;
	color: #757575;
}
.goods_price_sum{ 
	margin: 10px;
	text-align: right;
	padding: 5px 40px 5px 0px;
	font-size: 12px;
}
.submit_any{
	display: flex;
	justify-content: flex-end;
	margin: 20px 0 0;
}
.any_btn{
	width: 100px;
	border: 0;
	background-color: #000000;
	color: white;
	padding: 5px;
	border-radius: 40px;
	margin-right: 40px;
	font-size: 13px;
}




/* 右侧栏 */
.section_tunnel{
	width: 280px;
	height: 600px;
	background-color: white;
}
.tunnel_helpBox{
	margin: 0 0 10px;
	padding: 30px 22px;
	box-shadow: 0 0 30px 0 #cfcfd0;
}
.tunnel_helpBox h2{
	font-size: 16px;
	font-weight: 100;
	margin: 0 0 40px;
}
.tunnel_helpBox h3{
	font-size: 14px;
	color: #636363;
	background: url(../img/contacts_icon.png) no-repeat -4px center;
	font-weight: 100;
	margin: 0 0 20px;
	text-indent: 20px;
}
.tunnel_helpBox>ul{
	margin: 20px 0 0 26px;
	font-size: 12px;
	color: #636363;
}
.tunnel_helpBox>ul>li>a{
	font-size: 16px;
	text-decoration: underline;
	font-family: "agency fb";
	color: #636363;
}
.tunnel_helpBox>span{
	height: 40px;
	display: block;
}
.tunnel_advantages{
	width: 280px;
	height: 184px;
	box-shadow: 0 0 30px 0 #cfcfd0;
	background-color: white;
}
.advantages_main{
	margin: 0 0 10px;
	padding: 30px 22px;
}
.advantages_main>h1{
	font-size: 14px;
	font-weight: 100;
	padding: 0 0 16px;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
}
.advantages_main>h6{
	font-size: 12px;
	line-height: 30px;
}