body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea {
	margin: 0;
	padding: 0;
}

ul,ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000000;
}

img {
	border: 0;
}

html {
	width: 100%;
}
i{
	font-style: normal;
}
body {
	width: 100%;
	font-family: "微软雅黑";
	overflow-x: hidden;
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	color: #333;
}
#allCommodities {
	visibility: initial;
	margin-right: 15px;
}
.SectionCeiling{
	width: 100%;
	position: relative;
	top: 0;
	z-index: 4;
	background: #fff;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.07);
	height: 63px;
	color: #616161;
	transition: all 4s; 
}
.box-active{
	position: fixed;
	transition: all 4s; 
	top: 0;
}
.CeilingMain{
	width: 1224px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.GoodsName{
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 60px;
	color: #212121;
}
.CeilingMain>a{
	color: #616161;
	margin: 17px 0 0 0;
}


/*  */

.SectionMain{
	width: 100%;
	padding-top: 32px;
	padding-bottom: 12px;
	position: relative;
	height: 1000px;
	background-color: #fff;
	display: flex;
	justify-content: center;
}
.SectionImgBox{
	width: 100%;
	background-color: #f6f4f7;
}
.SectionImgBox>img{
	display: block;
	margin: 0 auto;
}
/* 左边 */
.MainLeft{
	width: 560px;
	position: relative;
	margin-left: 0;
}
.LeftImgBox{
	width: 560px;
	position: relative;
}
.LeftImgBox img{
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
}
.dou{
	width: 560px;
	margin: 10px;
	position: absolute;
	top: 560px;	
	display: flex;
	justify-content: center;
}
.dou>li{
    background: #888;
    width: 50px;
    border-radius: 0;
    border: 0;
    height: 4px;
	margin: 0 10px;
	transition: all .2s;
	cursor: pointer;
}
.img1{
	width: 560px;
	height: 560px;
	background-color: #fff;
	background-size: 560px;
	background-repeat: no-repeat;
}
.img2{
	background-image: url(../img/LoadMoreGoods/pms_1575513122.46621876.jpg);
	background-size: 560px;
}
.img3{
	background-image: url(../img/LoadMoreGoods/pms_1575513122.6416783.jpg);
	background-size: 560px;
}
.img4{
	background-image: url(../img/LoadMoreGoods/pms_1575513122.54547832.jpg);
	background-size: 560px;
}
.small{
	display: none;
	z-index: 2;
	background-color: rgba(0,0,0,.2);
	width: 140px;
	height: 140px;
	position: absolute;
}
.big{
	display: none;
	z-index: 2;
	/* background-color: #ccc; */
	width: 560px;
	height: 560px;
	position: absolute;
	left: 570px;
	background-color: #fff;
	background-size: 2240px 2240px;
	/* background-position: ;*/
	background-repeat: no-repeat;
	/* background-image: url(../img/LoadMoreGoods/pms_1575513122.46941194.jpg); */
}
/* 右边 */
.MainRight{
	width: 606px;
	margin-left: 12px;
	position: sticky;
	top: 80px;
	height: 830px;
}
.Conttit>h2{
	line-height: 1;
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: normal;
	color: #212121;
}
.sale_desc{
	margin: 1em 0;	
	color: #b0b0b0;
	margin: 0;
	padding: 0;
	padding-top: 8px;
}
.Conttit span{
	color: rgb(255, 74, 0);
}
.RightContent>.J_aftersaleCompany{
	margin: 1em 0;
}
.J_proPrice{
	display: block;
	font-size: 18px;
	line-height: 1;
	color: #ff6700;
	border-bottom: 1px solid #e0e0e0;
	padding: 12px 0 20px;
}
.J_proPrice>i{
	font-style: normal;
}
.address{
	margin: 40px 0;
	position: relative;
	background: #fafafa;
	border: 1px solid #e0e0e0;
	position: relative;
}
.address>i{
	position: absolute;
	left: 20px;
	top: 26px;
	font-size: 20px;
	color: #999;
}
.address_info{
	padding: 30px 40px 30px 50px;
}
.address_info>p>span{
	margin-right: 14px;
	color: #333;
}
.address_info>p>.switch_choose_regions{
	color: #FF6700;
}

.choose_type{
	margin-top: 30px;
}
.pro_choose_J_step{
	margin-bottom: 30px;
	z-index: 1;
	position: relative;
}
.pro_choose_J_step>h2{
	line-height: 1;
	font-size: 18px;
	font-weight: 100;
}
.pro_choose_J_step>ul{
	display: flex;
	flex-wrap: wrap;
}
.pro_choose_J_step>ul>li{
	width: 48%;
	margin-left: 6px;
	margin-top: 15px;
	line-height: 42px;
	height: 42px;
	position: relative;
	text-align: center;
	border: 1px solid #e0e0e0;
	font-size: 16px;
}
.pro_choose_J_step span{
	cursor: default;
}
.pro_choose_J_step>ul img{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
	margin-top: -2px;
}
.pro_choose_J_step>ul>li:first-child{
	border-color: #FF6700;
}
.pro_choose_J_step>ul>li:first-child span{
	color: #FF6700;
}
.J_proList{
	background: #f9f9fa;
	padding: 30px;
	margin-bottom: 30px;
}
.totlePrice{
	color: #ff6700;
	font-size: 24px;
	padding-top: 20px;
	list-style: none;
	line-height: 30px;
}
.typeAndPrice{
	display: flex;
	justify-content: space-between;
}
.J_buyBtnBox{
	margin: 10px 0 20px 0;
	display: flex;
}
.J_buyBtnBox>li:first-child{
	background: #ff6700;
	cursor: pointer;
	border: 1px solid #ff6700;
	color: #fff;
	width: 298px;
	height: 52px;
	line-height: 52px;
	font-size: 16px;
	margin-right: 10px;
	transition: all .4s;
	text-align: center;
}
.J_buyBtnBox>li:first-child a{
	color: white;
}
.J_buyBtnBox>li:first-child:hover {
    background-color: #f25807;
    border-color: #f25807;
    color: #fff;
}


.btn_like{
    display: inline-block;
    width: 140px;
    height: 52px;
    line-height: 52px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-size: 16px;
    position: relative;
	background: #b0b0b0;
	color: #fff;
}
.btn_like:hover{
	background-color: #757575;
	color: #fff;
}
.J_policy>a{
	display: inline-block;
	cursor: default;
	white-space: nowrap;
	color: #b0b0b0;
	margin-right: 15px;
	line-height: 30px;
	margin-bottom: 10px;
}
    